<div class="table-responsive">
  <button type="button" class="btn btn-primary m-1"(click)="crearItem()">Crear nuevo item</button>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Origen</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let beer of beers">
        <th scope="row">{{ beer.id }}</th>
        <td>{{ beer.nombre }}</td>
        <td>{{ beer.origen }}</td>
        <td>{{ beer.descripcion }}</td>
        <td>{{ beer.precio}}</td>
        <td><img src={{beer.imagen}}/></td>
        <td class="bnt-group" role="group">
            <button type="button" class="btn btn-primary m-1"(click)="editarItem(beer.id)" >Editar</button>
            <button type="button" class="btn btn-danger m-1"(click)="eliminarItem(beer.id)" >Eliminar</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>