li,a, button, input {
    font-size: 23px;
    text-align: center;

}

li a:hover {
    padding-left: 15px;
  }
  .active {
    background-color: rgba(150, 87, 5, 0.637);
    border-radius: 50px;
  }
 