<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">BEER HOUSE</h1>
      <p>Nos interesa ganar adeptos, enamorar corazones de manera social, comprometidos en propagar las cosas bien hechas, hechas desde adentro, con corazon, sin ningun objetivo en mente mas que el de conquistarte al producir las mejores cervezas.</p>
    </div>
  </div>

  <div class="containerimp">
    <div class="d-grid gap-2 position-center">
    </div>
    <br><br>

  </div> 

</main>